body {
  padding: 0;
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* BACKGROUND */
.atas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  height: 35vh;
  width: 100%;
  background-color: white;
}

.bawah {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -2;
  height: 65vh;
  width: 100%;
  background-color: rgb(254, 210, 159);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  border: solid 5px black;
  border-radius: 20px;
  width: 80vw; 
  max-width: 1100px; 
  height: 600px;
  background-color: white;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-title {
  font-size: 2vw; 
  font-weight: bold;
  color: #8c594a;
  margin-bottom: 20px;
}

.nota-box {
  background-color: rgb(254, 210, 159);
  border-radius: 15px;
  padding: 15px;
  width: 70%;
  height: 80%; 
  overflow-y: auto; 
  box-sizing: border-box;
}

.nota-title {
  font-size: 1.5vw; 
  font-weight: bold;
  margin: 5px 0;
}


.order-item-table {
  width: 100%;
  border-collapse: collapse;
}

.order-item-table th, .order-item-table td {
  padding: 5px;
  font-size: 1vw;
  text-align: left;
}


.total {
  display: flex;
  justify-content: space-between;
  font-size: 1.2vw;
  font-weight: bold;
  margin-top: 10px;
}

.total-price {
  font-weight: bold;
}

.footer-text {
  font-size: 1vw;
  font-weight: bold;
  margin-top: 10px;
}

.cetak-btn {
  margin-top: 20px;
}

.cetak-btn button {
  font-weight: bold;
  background-color: #8c594a;
  height: 40px;
  width: 100px;
  color: white;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.2s ease;
}

.cetak-btn button:hover {
  background-color: rgb(254, 210, 159);
  color: black;
}

tr, th, td {
  border: solid black 1px;
}