body {
  padding: 0;
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* html width 1520px height 740 */

/* BACKGROUND */
.atas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  height: 35vh;
  width: 100%;
  background-color: white;
}

.bawah {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -2;
  height: 65vh;
  width: 100%;
  background-color: rgb(254, 210, 159);
}
/* background */

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  border: solid 5px black;
  border-radius: 20px;
  width: 90vw;
  height: 90vh;
  margin: auto;
  background-color: white;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.back {
  position: absolute;
  right: 20px;
  top: 20px;
}

.back button {
  font-weight: bold;
  background-color: #8c594a;
  height: 50px;
  width: 7vw;
  color: white;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.2s ease;
}

.back button:hover {
  color: black;
  background-color: rgb(254, 210, 159);
}

.login-box {
  background-color: rgb(254, 210, 159);
  border-radius: 20px;
  height: 35vh;
  width: 35vw;
  text-align: center;
}

.login-box h1 {
  margin-top: 65px;
}

.login-box input {
  margin-top: 35px;
  width: 20vw;
  height: 40px;
  border-radius: 20px;
  background-color: #d9d9d9;
}

.login-btn {
  margin-top: 10vh;
}

.login-btn button {
  width: 17vw;
  height: 8vh;
  border-radius: 20px;
  cursor: pointer;
  background-color: #d9d9d9;
  font-size: 18px;
  font-weight: bold;
  transition: 0.2s ease-in;
}

.login-btn button:hover {
  background-color: #8c594a;
  color: white;
}
