@font-face {
    font-family: "Russo-One";
    src: url("../Fonts/RussoOne-Regular.ttf");
    font-weight: normal;
    font-style: normal;
  }
  

html {
    scroll-behavior: smooth;
  }

body {
  padding: 0;
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}


/* html width 1520px height 740 */

/* BACKGROUND */
.atas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  height: 35vh;
  width: 100%;
  background-color: white;
}

.bawah {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -2;
  height: 65vh;
  width: 100%;
  background-color: rgb(254, 210, 159);
}
/* background */

.box {
  border: solid 5px black;
  border-radius: 20px;
  width: 90vw;
  height: 90vh;
  margin: auto;
  background-color: white;
  display: flex;
  flex-direction: column;
  position: relative;
}

.header {
  display: flex;
  height: 11vh;
}

.header p {
  font-size: 40px;
  color: #8c594a;
  font-family: "Russo-one";
  margin-top: 30px;
  margin-left: 30px;
}

.admin  {
    position: absolute;
    right: 20px;
    top: 20px;
}

.navbar {
    display: flex;
    margin-left: 20px;
}


.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: 70px;
  height: 57vh;
}

.card {
  display: flex;
}

.kasir,
.epayment {
  margin: 0 40px 0 40px;
  background-color: rgb(254, 210, 159);
  height: 310px;
  width: 350px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  text-align: center;
}

.kasir img {
  margin-left: 15px;
}

.epayment img {
  margin-top: 55px;
  margin-left: 14px;
}


.keterangan {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 100px;
}

.keterangan p {
  color: #8c594a;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
}

.keterangan-kasir {
  margin-left: 22vw;
}

.keterangan-epayment {
  margin-right: 24vw;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer .keterangan-metode {
  height: 10vh;
  width: 85vw;
  background-color: #FED29F;
  border-radius: 20px;

}

.footer .keterangan-metode p {
  text-align: center;
  font-size: 25px;
  font-weight: bold;
}


/* .card-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: blue;
  
}

.sub-container{
  width: 290px;
  height: 200x;
  background-color: red;
  margin: 100px;
  
}
.sub-container img{
  width: 100%;
  object-fit:cover;

}
.sub-container div{
  
} */