@font-face {
  font-family: "Russo-One";
  src: url("Fonts/RussoOne-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

body {
  padding: 0;
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

  
  /* BACKGROUND */
.atas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 35vh;
    width: 100%;
    background-color: white;
  }
  
.bawah {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -2;
    height: 65vh;
    width: 100%;
    background-color: rgb(254, 210, 159);
  }
  /* background */
  
.box {
    border: solid 5px black;
    border-radius: 20px;
    width: 90vw;
    height: 90vh;
    margin: auto;
    background-color: white;
    display: flex;
    flex-direction: column;
    position: relative;
  }
  
.header {
    display: flex;
    height: 11vh;
  }
  
.header p {
    font-size: 40px;
    color: #8c594a;
    font-family: "Russo-one";
    margin-top: 30px;
    margin-left: 30px;
  }

  .sbox {
    display: flex;
    flex-direction: column;
    background-color: rgb(254, 210, 159);
    width: 120vmin;
    height: 55vmin; 
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .gambar {
    display: block;
    justify-content: center;
    align-items: center;
    width:300px;
  }
  .gambar img{
    width: 100%;
  }
  

.text {
  font-size: 30px;
  color: #8c594a;
  font-family: "Russo-one";
  text-align: center;
}

.text p{
  font-size: 20px;
  font-family: sans-serif;
  text-align: center;
}


  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 580px;
  }
  
  .footer .total-box {
    height: 10vh;
    width: 85vw;
    background-color: #FED29F;
    border-radius: 20px;
    position: relative;
  }
  
  .footer .total-box .total {
    display: flex;
  }
  
  .footer .total-box .total p {
    justify-content: center;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin: 20px;
  }
  
